<div ng-controller="login.LoginController" ng-init="">

	<div class="login_container">
		<div id="login_spacer">
        	<div id="login_title">
    			<p class="login_text wrapText blueFont">Vendalize kicks more ass if you log in. </p>
            </div>
            <div class="fb_small_container">
            	<input type="button" class="fb_small_login_button" ng-click="login()"/> 
            </div>
    	</div>
        
        <div class="login_credits">
        	<p class="wraptext">
            	Get credit for the tags you create! 	<br/>
                See personalized search results!		<br/>
                Enjoy your exclamation point fetish!
            </p>
            <a href="#">I'm a wuss - show me the Terms & Conditions.</a>
        </div>
    </div>

</div>