<div ng-controller="login.LoginController" ng-init="">

	<div class="login_container">
		<div id="login_spacer">
        	<div id="login_title">
    			<p class="login_text wrapText blueFont">We could not log you in! </p>
            </div>
    	</div>
        
        <div class="login_credits">
        	<p class="wraptext">
            	Try logging in again!<br/>
                Make sure you accepted our permissions!
                
            </p>
            <a href="/#/login">Click here to go to the login page</a>
        </div>
    </div>

</div>